@using TutorialRater.Entities
@model Tutorial

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add A Tutorial</title>
</head>
<body>
    <h1>Add A Tutorial</h1>

    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Url)
            @Html.TextBoxFor(m => m.Url)
        </div>
        <div>
            @Html.LabelFor(m => m.Format)
            @Html.DropDownListFor(m => m.Format, Html.GetEnumSelectList(typeof(FormatType)))
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>



    }
</body>
</html>