@model IEnumerable<TutorialRater.Models.Tutorial>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home index.cshtml</title>
</head>
<body>
    <h1>Welcome!</h1>
    <table>
        @foreach (var tutorial in Model)
        {
            <tr>
                <td>@tutorial.Id</td>
                <td>@tutorial.Url</td>
            </tr>

        }

    </table>
</body>
</html>