@model TutorialRater.Models.Tutorial

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home index.cshtml</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div>
        @Model.Url
    </div>
</body>
</html>